<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#395144"/>
    <title>Resto Hunter</title>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="./images/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
  <a href="#about-us" class="skip" tabindex="1">Skip To Content</a>
  <div class="loader">
    <img src="./images/icons/icon-512x512.jpg" alt="loader">
  </div>
    <!--Navigation Bar-->
    <nav>
      <div class="brand">
        <img src="./images/logos/resto-hunter-logo.png" alt="logo" width="60px">
        <p class="brand-name">
          Resto Hunter
        </p>
      </div>
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://instagram.com/rjaawjyaa_31">About Us</a></li>
        </ul>
       <div class="hamburg-menu" role="button" aria-label="option menu" tabindex="2">
         <span></span>
         <span></span>
         <span></span>
       </div>
    </nav>
    
    <div class="jumbotron-animation"></div>
    
    
    <div id="mainContent"></div>

    <!--Footer-->
    <footer>
      <p>&copy; Resto Hunter 2022</p>
    </footer>
    
  </body>
</html>
