<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resto Hunter</title>
  </head>
  <body>
  <a href="#about-us" class="skip" tabindex="1">Skip To Content</a>
    
    <!--Navigation Bar-->
    <nav>
      <div class="brand">
        <img src="./images/logos/resto-hunter-logo.png" alt="logo" width="60px">
        <p class="brand-name">
          Resto Hunter
        </p>
      </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://instagram.com/rjaawjyaa_31">About Us</a></li>
        </ul>
       <div class="hamburg-menu" role="button" aria-label="option menu" tabindex="2">
         <span></span>
         <span></span>
         <span></span>
       </div>
    </nav>
    
    <div class="jumbotron-animation"></div>
    <!--Hero Image/Jumbotron-->
    <div class="jumbotron">
      <h1>Find Your Dream Restaurant</h1>
      <p>This is where you can find the best restaurants around you </p>
      <a href="#exp" class="discover">Discover Now </a>
    </div>
    
    <!--About Us-->
    <div aria-label="about-us" id="about-us" class="heading">
      <p>About Us</p>
      <div></div>
    </div>
    <div class="green-area">
      <div class="about-us">
        <img src="./images/heros/hero-image_1.jpg" alt="about hero" >
        <p>
          Here you can search, browse, explore, and find the best restaurants ever. visit and feel the sensation of eating at a place to eat that you have never felt.
        </p>
      </div>
    </div>
    
    <!--Explore-->
    <div aria-label="explore" class="heading" id="exp">
      <p>Explore</p>
      <div></div>
    </div>
    <div class="card-wrapper">
      <!--Card-->
    </div>
    
    <!--Footer-->
    <footer>
      <p>&copy; Resto Hunter 2022</p>
    </footer>
    
  </body>
</html>
