$body-bg: #F0EBCE;
$primary-green: #395144;
$secondary-green: #4E6C50;
$secondary-choco: #AA8B56;
@font-face {
  font-family: kabut-hitam;
  src: url("../public/fonts/Kabut Hitam.ttf");
}

@keyframes loader {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $body-bg;
  font-family: Helvetica, Arial, Sans-Serif;
}

 a:focus, button:focus, .hamburg-menu:focus{
    outline: 3px solid $secondary-choco;
  }

.skip {
  height: 44px; 
  position: absolute;
  top: -50px;
  left: -50px;
  transition: .5s;
  text-decoration: none;
  padding: 10px;
  color: $secondary-choco;
  background-color: $primary-green;
  border: 1px solid $primary-green;
  border-radius: 50px;
  &:focus {
    outline: 3px solid $secondary-choco;
    top: 20px;
    left: 20px;
    transition: .5s;
  }
}

.loader {
  visibility: hidden;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: $body-bg;
  img {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 20%;
  }
  &.active {
    visibility: visible;
    img {
      animation: loader 1s ease-in-out 0s infinite normal;
    }
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-green;
  .brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-name {
      font-family: kabut-hitam, cursive;
      font-size: 3em;
      color: $secondary-choco;
      padding-left: 15px;
    }
  }
  ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    li {
      padding: 10px;
      height: 44px;
      overflow: visible;
      a {
	height: 44px;
        padding: 15px;
        text-decoration: none;
        border-radius: 10px;
        color: $secondary-choco;
        &:hover {
          color: #cdb997;
        } 
      }
    }
  }
}

.hamburg-menu {
  width: 44px;
  height: 44px;
  padding: 10px;
  position: relative;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
  cursor: pointer;
  overflow: visible;
  span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: $secondary-choco;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 19px;
    }
    &:nth-child(3) {
      top: 37px;
    }
  }
  &.open span:nth-child(1) {
    top: 19px;
    transform: rotate(135deg);
  }
  &.open span:nth-child(2) {
    opacity: 0;
    left: -50px;
  }
  &.open span:nth-child(3) {
    top: 19px;
    transform: rotate(-135deg);
  }
}

.jumbotron-animation {
  width: 100%;
  transition: 1s;
  &.active {
    margin-bottom: 273px;
    transition: 1s;
  }
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
  color: white;
  height: 273px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../public/images/heros/hero-image_2.jpg');
  background-size: cover;
  h1 {
    padding-bottom: 15px;
  }
  p {
    padding-bottom: 10px;
  }
  a {
    height: 44px;
    text-decoration: none;
    font-weight: bold;
    color: $secondary-choco;
    background-color: $primary-green;
    border-radius: 10px;
    border: 1px solid $primary-green;
    padding: 10px;
    &:hover {
      color: #cdb997;
      background-color: #5f8c73;
    }
  }
}

.heading {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  p {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    padding: 30px 0px 10px;
  }
  div {
    width: 150px;
    height: 5px;
    background-color: $secondary-green;
    border-radius: 10px;
  }
}

.green-area {
  padding: 20px;
  background-color: $primary-green;
  color: $secondary-choco;
  .about-us {
  width: 70%;
  margin: 0 auto;
    img {
      margin-bottom: 15px;
      width: 100%;
    }
    p {
      text-align: justify;
    }
  }
}

.card-wrapper {
  margin-bottom: 100px;
  width: 100%;
  min-height: 45vh;
  display: grid;
  grid-template-columns: 1fr;
  .card {
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    width: 260px;
    height: 450px;
    background-color: #fffcee;
    box-shadow: 0px 10px 10px #e9e0ad;
    img {
      width: 100%;
    }
    &-detail {
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 180px;
      p {
        display: flex;
        align-items: center;
        img {
          margin-bottom: 5px;
          margin-right: 5px;
          width: 15px;
          color: yellow;
        }
      }
      .resto-name {
        font-size: 1.5em;
        font-weight: 600;
        padding: 10px 0 10px;
      }
    }
    &-detail.active {
      height: auto;
    }
    .btn-see-detail {
      padding: 15px 0 15px;
      .btn-read-more{
        height: 44px;
        border-radius: 10px;
        background-color: $primary-green;
        color: $secondary-choco;
        border: 1px solid $primary-green;
        padding: 5px;
      }
    }
    .btn-read-more::before {
      content: "Read More...";
    }
    .btn-read-more.active::before {
      content: "Read Less";
    }
  }
  .card.active {
    height: auto;
  }
}

.like {
  width: 55px;
  height: 55px;
}

.detail-content {
  width: 80%;
  margin: 0 auto;
  .title-resto {
    padding: 20px 0;
  }
  img {
    width: 100%;
  }
  .detail-resto {
    margin: 30px 0 0;
    text-align: left;
    table {
      tr {
        height: 30px;
        th {
          vertical-align: top;
          width: 40%;
        }
        td {
          vertical-align: top;
        }
      }
    }
  }
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.menus {
  text-align: center;
  .heading {
    font-size: 2em;
    font-weight: bold;
  }
  .food, .drink {
    padding-bottom: 30px;
  }
}

.reviews {
  width: 90%;
  margin: 0 auto 50px;
  form {
    h3 {
      text-align: center;
      padding-bottom: 20px;
    }
    label {
      font-weight: bold;
    }
    input {
      height: 50px;
    }
    input, textarea {
      background-color: white;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 2px solid $secondary-choco;
      border-radius: 10px;
    }
    input:focus, textarea:focus {
      outline: none;
      border: 2px solid $secondary-green;
    }
    button {
      padding: 20px;
      background-color: $primary-green;
      color: $secondary-choco;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      border-radius: 10px;
      &:hover {
        border: 3px solid $secondary-choco;
      }
    }
  }
  table, th, td {
    border-collapse: collapse;
  }
  td {
    vertical-align: top;
    padding: 5px;
    width: 33.3%;
  }
  thead {
    height: 70px;
    font-size: 1.5em;
  }
  tbody tr:nth-child(odd) {
    background-color: $primary-green;
    color: $secondary-choco;;
  }
  tbody tr:nth-child(even) {
    background-color: #f4e797;
  }
}

footer {
  background-color: $primary-green;
  color: $secondary-choco;
  height: 100px;
  text-align: center;
  line-height: 100px;
}


@media screen and (min-width: 576px) {
  .hamburg-menu {
    display: none;
  }
  
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  
  .about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .jumbotron {
    height: 700px;
  }
  .resto-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    table {
      font-size: 1.4em;
    }
  }
  .menus {
    .heading {
      font-size: 3em;
    }
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    top: 60px;
    width: 100%;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    background-color: $primary-green;
    transform: translateX(-100%);
    transition: 1s;
    &.active {
      transform: translateX(0);
    }
  }
  .jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../public/images/heros/hero-image_2-small.jpg');
  }
}
